@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
html{
    font-family: 'Raleway', sans-serif;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.logo-text{
    font-family: 'Galada', cursive;
    /* text-transform: uppercase; */
    background: linear-gradient(to right, #E63500 0%, #FFC316 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a{
    color: #2c5282;
}
h2{
    font-size:1.2rem;
}